html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }

.hero {
    background-image: url('../pontian_beach.jpg'); background-size:cover;
    color: #fff;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.column {
    margin-left: 5%;
    padding: 1%;
}