<!doctype html>
<html lang="en">
  <head>
    <!-- Google Maps API -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKqSLy4MMxiNwEXSPqpomf7m94-pSTzk4&callback=initMap&libraries=&v=weekly" async defer></script>
    <script type='text/javascript'>
      (function(exports) {
        "use strict";

        function getmapCities(mapCities){
            return mapCities
        };

        function addMarker(city, map) {
          var infowindow = new google.maps.InfoWindow({
              content: city['annotation']
            });

            var marker = new google.maps.Marker({
              position: {lat: city['latlng'][0], lng: city['latlng'][1]},
              map: map,
              animation: google.maps.Animation.DROP,
              title: city['city']
            });

            marker.addListener('click', function() {
              toggleBounce(marker);
              infowindow.open(map, marker);
            });
        };

        function toggleBounce(marker) {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        };

        function initMap() {
          var myLatLng = {lat: 1.485561, lng: 103.387856};
          exports.map = new google.maps.Map(document.getElementById("map"), {
            center: myLatLng,
            zoom: 10,
            disableDefaultUI: true
          });

          map.data.loadGeoJson("{{ url_for('static', filename='map.geojson')}}");
          map.data.setStyle({
            fillColor: 'green',
            strokeWeight: 2
          });

          var cities = getmapCities({{ mapCities|tojson }});
          // console.log(cities[0]);  

          for (var i = 0; i < cities.length; i++) {
            // console.log(cities[i]);
            addMarker(cities[i], map)
          }
         
        };

        exports.initMap = initMap;
      })((this.window = this.window || {}));
    
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Main.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 


    <title> PONTIAN </title>
  </head>
  <body>
    <div class="hero jumbotron text-center">
        <h1 class='typewriter'>Pontian-My Home .</h1>
        <blockquote contenteditable="true" > 
          <p style="[contenteditable] { outline: 0px solid transparent; }">
            This is an editable paragraph.
          </p>
        </blockquote>
        

    </div>
    
    <div class="container">
        <div class="card weather-card">
            <!-- Card content -->
            <div class="card-body pb-3">

                <!-- Title -->
                <h4 class="card-title font-weight-bold"> 
                    <a class="material-tooltip-main" href="https://www.google.com.my/maps/place/Pontian+District,+Johor/@1.4988958,103.3761729,13z/data=!3m1!4b1!4m5!3m4!1s0x31d09868a603832b:0x66971af1fa7551ea!8m2!3d1.485561!4d103.3878589" data-toggle="tooltip" title="(1.4988958,103.3761729)" target="_blank"> Pontian </a> 
                </h4>
                <!-- Text -->
                <p class="card-text">Right now it is</p>
                <div class="d-flex justify-content-between">
                  <p class="display-1 degree">{{ data[0]}}°</p>
                  <i class="fas fa-cloud grey-text fa-5x pt-1"></i>
                </div>
                <div class="d-flex justify-content-between mb-4">
                  <p><i class="fas fa-tint fa-lg text-info pr-2"></i>{{ data[1] }}% Humidity</p>
                  <p><i class="fas fa-leaf fa-lg text-info pr-2"></i>{{ data[2] }}km/h Winds</p>
                </div>
                <div class="d-flex justify-content-between mb-4">
                  <p><i class="fas fa-compress fa-lg text-info pr-2"></i>{{ data[4] }} Pressure</p>
                  <p><i class="fas fa-cloud fa-lg text-info pr-2"></i>{{ data[5] }}% Clouds</p>
                </div>
                <p class="card-text">Mostly {{raw['weather'][0]['main']}}, there is a {{ cor }}% chance of rain</p>
            </div>
          </div>
          
      <hr style="width:100%;text-align:left;margin-left:0">
      
    </div>

    <div class="city text-center">
      {% for c in cities %}
        <a class="btn btn-outline-mdb-color" href="{{ url_for('getCity', city=c) }}"> {{ c.capitalize() }} </a> &nbsp;&nbsp;&nbsp;&nbsp;
      {% endfor %}

    </div>

    <!-- <div id="map"></div> -->

    <div class="container-fluid mt-3 mb-5">

      <!-- Section: Block Content -->
      <section class="mb-4">
    
        <style>
          .map-container {
            overflow: hidden;
            position: relative;
            height: 0;
          }
    
          .map-container iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
          }
        </style>
    
        <div class="card">
    
          <div class="row">
            <div class="col-md-6">
    
              <!-- Google Maps -->
              <div id="map-within-card-2" class="map-container rounded-left" style="height: 400px">
                <iframe src="https://maps.google.com/maps?q=Pontian&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                  style="border:0" allowfullscreen></iframe>
              </div>
              <!-- Google Maps -->
    
            </div>
    
            <div class="col-10 col-md-4 mx-auto align-self-center py-4">
    
              <h6 class="font-weight-bold grey-text text-uppercase small">Pontian District</h6>
              <h5 class="font-weight-normal mb-4">Johor, MY</h5>
              <!-- <p class="text-muted font-weight-light">2651 Main Street, Suit 124<br>Seattle, WA, 98101</p> -->
              <p class="text-muted font-weight-light mb-0">Phone: +60 19 7667192 <sub><small>(Don't Ever Call This Number)</small></sub> <br>Email: pontiankia@gmail.com</p>
    
            </div>
          </div>
    
        </div>
    
      </section>
      <!-- Section: Block Content -->
    
    </div>





        <!--
        <h4> Some questions for you 😎 </h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Click me
        </button>

        The Modal
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
              Modal Header
              <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              Modal body
              <div class="modal-body">
                Modal body..
              </div>
              
              Modal footer
              <div class="modal-footer">
                <button id="btn" type="submit" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#thankModal">Submit</button>
              </div>
              
            </div>
          </div>
        </div>

        <div class="modal fade" id="thankModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
              Modal Header
              <div class="modal-header">
                <h4 class="modal-title">Submitted!</h4>
              </div>
              
              Modal body
              <div class="modal-body">
                Thank you for your sharing !
              </div>
              
              Modal footer
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div> 
      -->

    <!-- Optional JavaScript -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Main.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    
  </body>
  
  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark">

    <!-- Copyright -->
    <div class="container text-center py-3">
        © 2020 Copyright: <a> PontianKia </a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer --> 

</html>