<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>   -->

    <title> PONTIAN </title>
  </head>

<body>
  
  <div class="container my-5">

 
      <!-- <source srcset="http://localhost:5002/static/image/intro-img2.svg" type="image/jp2"> -->
      <!-- <source srcset="http://localhost:5002/static/image/intro-img2.webp" type="image/webp"> -->
      <!-- <source srcset="http://localhost:5002/static/image/intro-img2.jpg" type="image/jpeg"> -->

      <img src="http://localhost:5002/static/image/intro-img2.svg" alt="Photo" /> 
      <img src="http://localhost:5002/static/image/intro-img2.jpg" alt="Photo" /> 
      <img src="http://localhost:5002/static/image/intro-img2.webp" alt="Photo" /> 

      <!-- <img src="http://localhost:5002/static/image/intro-img2.webp" alt="Photo" />  -->
      <!-- <img src="http://localhost:5002/static/image/intro-img2.webp" alt="Photo" />  -->
      <!-- <img src="http://localhost:5002/static/image/intro-img2.webp" alt="Photo" />  -->

  </div>

</body>